body {
  background: #22333B;
}

ul {
  line-height: 40px;
}

li {
  list-style-type: none;
}

.container {
  width: 92%;
  background: rgb(249,249,249);
  margin-top: -80px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 40% 40% 20%;
}

.photo {
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: auto;
}

.drink-details {
  color: black;
}

.drink-details h1 {
  color: black;
  text-align: center;
}

.drink-description {
  text-align: justify;
}

.show-options {

  display: flex;
  justify-content: space-around;
  margin: 10px;
  padding: 10px;
}

.delete-button {
  padding: 2px;

  box-shadow: 1px 1px 8px rgba(249,249,249,.2);
  font-size: 10px;
}

.show-photo {
  margin: 20px 0px;
  box-shadow: 2px 2px 8px #22333B;
}

.show-links {
  border: 2px solid #22333B;
  radius: 4px;
  padding: 10px;
  margin: 10px;
  vertical-align: center;
}

.show-links:hover {
  text-decoration: none;
}

.show-options .mm-button {
  margin: 10px;
}

.new-cocktail-back-position {
  position: fixed;
  left: 1295px;
  bottom: 660px;
}

@media(max-width: 768px) {
  .grid {
    width: 100%;
    /* re-define your grid for mobile and tablet */
  }
}

@media(max-width: 500px) {
  .grid {
    width: 100%;
    /* re-define your grid for mobile and tablet */
  }
}

