
<div class="container nav-offset">
<div class="new-dose-form"><br>
  <%= render 'form', dose: @dose %>

  <%= link_to "Back", cocktail_path(@cocktail), :class => "btn mm-button back-position"  %>
  </div>

</div>
