.mm-button {
  background: rgba(249,249,249,0.1);
  color: #22333B;
  border: 1px solid #22333B;
  border-radius: 10px;
}

.mm-button-nav {
  background: rgba(249,249,249,0.9);
  color: #22333B;
  border: 1px solid #22333B;
  border-radius: 10px;
  padding: 10px;
}

.mm-button-nav:hover {
  text-decoration: none;
}
